@import 'base.css';

/* blueprint modifications you may want to keep */
.error li, .notice li, .success li { list-style: none; }
ul.error, ul.notice, ul.success { margin-left: 0; margin-right: 0; }
textarea { height: 100px; }


/***
 * Aspen Demo Design
 */
/* Layout only */
#header { padding-bottom: 6px; margin: 18px 0 18px 0; }
#header h1 { margin: 0; float: left;}
span { font-size: 12px; float: right; margin-top: 1.5em; }
#users_admin_login .container, #users_admin_forgot .container, #users_admin_authenticate .container, #install_admin_view .container, #install_admin_setup .container, #install_admin_paste_config .container, #install_admin_account .container, #install_admin_success .container, #install_admin_upgrade .container {width:470px;}

/* navigation */
#nav li { list-style: none; }
#nav { clear: left; float: left; margin: 0; padding: 0; width: 160px; }
#nav li { width: 142px; padding: 2px; padding-left: 5px; margin-bottom: 1px; }
#nav li.at { width: 160px; }
#nav a:link, #nav a:active, #nav a:visited { text-decoration: none; font-size: 1.2em; line-height: 1.5em; }

/* front-end styles */
#index_view h1 { margin: 18px 0 18px 0; }
#index_view .container { width: 470px; }

/* fonts */
body { font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif; }
#content p, #content a, #content li, #content td { font-size: 14px; }
code { font-size: 12px; }
#content a { text-decoration: none; }
#content a:hover { text-decoration: underline; }
#nav a { font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* forms */
form li { list-style: none; padding: 5px 0; }
fieldset ol { margin: 0; }
label:first-child { width: 100px; display: block; float: left; }
input[type=text], input[type=password] { padding: 5px; width: 200px; border:1px solid #bbb; }
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {border:1px solid #666;}



/**********
 * Theme: Aspen Default
 * Using gray, red, and logo of Aspen Framework
 ***/
a { color: #A31C15; }
fieldset { border: 1px solid #CFC3C2; }

#header { border-bottom: 1px solid #AFAFAF; padding: 0; margin-bottom: 10px; }
#header h1 { background: transparent url(../img/aspen.png) top left no-repeat; width: 350px; height: 70px; text-indent: -9999px; }
span { margin-top: 4.5em; }

#index_view h1 { margin-bottom: 10px; background: transparent url(../img/aspen.png) top left no-repeat; height: 70px; border-bottom: 1px solid #343642; text-indent: -9999px; }

#nav li { background-color: #4F4F4F; }
#nav li:hover, #nav li.at, thead th  { background-color: #A32A1C; color: #fff; }
#nav li:hover a, #nav li.at a { color: #fff; }
#nav a:link, #nav a:active, #nav a:visited { color: #fff; }
#nav a:hover { border-bottom: 1px dashed #fff; color: #fff; }

#content { background-color: #EFEFE0; border: 2px solid #A32A1C; padding-top: 8px; }
td { background: #DFDFDF; }
.error { border-color: #A32A1C; background: #EFB9B3;  }